<p>Hi,</p>

<p>
    Your password on <a href="{{ protocol }}://{{domain}}">{{ domain }}</a> has been
    reset. If this was your doing, please ignore this email.
</p>

<p>
    Otherwise, <a href="{{ protocol }}://{{ domain }}{{ url }}">request a new password</a>.
</p>

<p>
    Thanks,<br />
    - The {{ site_name }} Team
</p>
