<p>Hi,</p>

<p>
    Please visit <a href="{{ protocol }}://{{ domain }}{{ url }}">{{ protocol }}://{{ domain }}{{ url }}</a>
    to reset your password.
</p>

<p>
    Thanks,<br />
    - The {{ site_name }} Team
</p>
